<% layout("/layouts/admin_boilerplate.ejs") %>
<head>
  <link rel="stylesheet" href="/styles/admin/addevent.css">
</head> 
        <img src="/images/blob1.png" class="blob1">
        <div class="event-container">
            <h3>Create Event</h3>
            <form action="/admin/events" method="POST">
                <label for="title">
                    Title:
                    <input type="text" id="title" name="event[title]" placeholder="Enter event title" required />
                </label>

                <label for="description">
                    Description:
                    <textarea id="description" name="event[description]" placeholder="Enter event description" required></textarea>
                </label>

                <label for="date">
                    Date:
                    <input type="date" id="date" name="event[date]" required />
                </label>

                <label for="time">
                    Time:
                    <input type="time" id="time" name="event[time]" required />
                </label>

                <label for="venue">
                    Venue:
                    <input type="text" id="venue" name="event[venue]" placeholder="Enter event venue" required />
                </label>

                <label for="organizer">
                    Organizer:
                    <input type="text" id="organizer" name="event[organizer]" placeholder="Enter organizer name" required />
                </label>

                <label for="category">
                    Category:
                    <input type="text" id="category" name="event[category]" placeholder="Enter event category" required />
                </label>

                <button type="submit">Add Event</button>
            </form>
        </div>
        <img src="/images/blob2.png" class="blob2">

