<header>
    <div class="lcontainer">
        <img id="logo" src="/images/logo.png">
        <span id="clg">विद्यावर्धिनीचे भाऊसाहेब वर्तक तंत्रनिकेतन, वसई रोड<h2>VIDYAVARDHINI'S BHAUSAHEB VARTAK POLYTECHNIC</h2><h4>Admin Dashboard</h4></span>
    </div>
    <div class="icontainer"><img src="/images/anna.png"></div>
</header> 