<nav>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="nav-links" type="none">
        <li class="nav"><a href="/admin/notices">Notices</a></li>
        <li class="nav"><a href="/admin/events">Events</a></li>
        <li class="nav"><a href="/admin/rankers">Rankers</a></li>
        <li class="nav"><a href="/admin/departments">Departments</a></li>
        <li class="nav"><a href="/admin/facilities">Facilities</a></li>
        <li class="nav"><a href="/admin/committees">Committees</a></li>
        <li class="nav"><a href="/admin/admissions">Admissions</a></li>
        <li class="nav"><a href="/admin/resources">Resources</a></li>
        <li class="nav"><a href="/admin/projects">Projects</a></li>
    </ul>
</nav> 