<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h3>Create Committee</h3>

    <form action="/admin/committees" method="POST">
      <input
        type="text"
        name="committee[committeeName]"
        placeholder="Enter committeeName"
      /><br />
      <textarea
        type="text"
        name="committee[description]"
        placeholder="Enter description"
      ></textarea
      ><br />
      <button>Add Committee</button>
    </form>
  </body>

