<% layout("/layouts/admin_boilerplate.ejs") %>
<head>
    <link rel="stylesheet" href="/styles/admin/addcommittee.css">
</head>
<body>
    <div class="add-committee-container">
        <h1 class="add-committee-title">Create Committee</h1>

        <div class="add-committee-form">
            <h3>Committee Details</h3>
            <form action="/admin/committees" method="POST">
                <label for="committeeName">
                    Committee Name:
                    <input type="text" name="committee[committeeName]" required placeholder="Enter committee name" />
                </label>
                <br />
                <label for="description">
                    Description:
                    <textarea name="committee[description]" required placeholder="Enter description"></textarea>
                </label>
                <br />
                <button type="submit">Add Committee</button>
            </form>
        </div>
    </div>
</body>

