<% layout("/layouts/admin_boilerplate.ejs") %>
<head>
  <link rel="stylesheet" href="/styles/admin/addmember.css">
</head>
<body>
    <div class="main-content">
        <img src="/images/blob1.png" class="blob1">
        <div class="member-container">
            <h3>Add Member to Committee</h3>
            <form action="/admin/committees/<%= committee._id %>/members?_method=PUT" method="POST">
                <label for="name">
                    Member Name:
                    <input type="text" id="name" name="member[name]" placeholder="Enter member name" required />
                </label>

                <label for="role">
                    Member Role:
                    <input type="text" id="role" name="member[role]" placeholder="Enter member role" required />
                </label>

                <button type="submit">Add Member</button>
            </form>
            <a href="/admin/committees/<%= committee._id %>">Back to Committee</a>
        </div>
        <img src="/images/blob2.png" class="blob2">
    </div>
</body>
