<% layout("/layouts/boilerplate.ejs") %>

<body>
  <h1>Committees</h1>
  <% for(committee of committees){ %>
  <div
    class="div1"
    style="border: 2px solid black; margin: 4rem; padding: 1.5rem"
  >
    <h4><%=committee.committeeName%></h4>
    <p><b>Description:</b><%=committee.description %></p>
    <p>
      <b>Members:</b><% committee.members.forEach((member)=>{ %>
      <li>
        <b>Name:</b><%=member.name %>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>Role:</b><%=member.role %>
      </li>
      <% }) %>
    </p>
  </div>
  <% } %>
</body>
