<nav>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="nav-links" type="none">
        <li class="nav"><a href="/user">Home</a></li>
        <li class="nav"><a href="/user/notices">Notices</a></li>
        <li class="nav dropdown">
            <a href="#" class="dropbtn">Department</a>
            <div class="dropdown-content">
                <a href="/user/departments?departmentName=Computer Engineering">Computer Engineering</a>
                <a href="/user/departments?departmentName=Civil Engineering">Civil Engineering</a>
                <a href="/user/departments?departmentName=Mechanical Engineering">Mechanical Engineering</a>
                <a href="/user/departments?departmentName=Big Data">Big Data</a>
                <a href="/user/departments?departmentName=Artificial Intelligence">Artificial Intelligence</a>
            </div>
        </li>
        <li class="nav"><a href="/user/admissions">Admissions</a></li>
        <li class="nav dropdown">
            <a href="#" class="dropbtn">Examinations</a>
            <div class="dropdown-content">
                <a href="/user/examinations?departmentName=Computer Engineering">Computer Engineering</a>
                <a href="/user/examinations?departmentName=Civil Engineering">Civil Engineering</a>
                <a href="/user/examinations?departmentName=Mechanical Engineering">Mechanical Engineering</a>
                <a href="/user/examinations?departmentName=Big Data">Big Data</a>
                <a href="/user/examinations?departmentName=Artificial Intelligence">Artificial Intelligence</a>
            </div>
        </li>
        <li class="nav"><a href="/user/facilities">Facilities</a></li>
        <li class="nav"><a href="/user/faculties">Faculty</a></li>
        <li class="nav"><a href="/user/committees">Committees</a></li>
        <li class="nav"><a href="/user/events">Events</a></li>
        <li class="nav"><a href="/user/projects">Projects</a></li>
        <li class="nav"><a href="/user/resources">Resources</a></li>
        <li class="nav"><a href="/user/rankers">Rankers</a></li>
    </ul>
</nav> 