<% layout("/layouts/admin_boilerplate.ejs") %>
<head>
    <link rel="stylesheet" href="/styles/admin/addexamination.css">
</head>
        <img src="/images/blob1.png" class="blob1">
        <div class="examination-container">
            <h3>Add Examination</h3>
            <form action="/admin/examinations/<%= id %>" method="POST" enctype="multipart/form-data">
                <label for="examName">
                    Exam Name:
                    <input type="text" id="examName" name="exam[examName]" placeholder="Enter exam name" required />
                </label>

                <label for="examType">
                    Exam Type:
                    <input type="text" id="examType" name="exam[examType]" placeholder="Enter exam type" required />
                </label>

                <label for="semester">
                    Semester:
                    <input type="number" id="semester" name="exam[semester]" placeholder="Enter semester" min="1" max="8" required />
                </label>

                <label for="startDate">
                    Start Date:
                    <input type="date" id="startDate" name="exam[startDate]" required />
                </label>

                <label for="endDate">
                    End Date:
                    <input type="date" id="endDate" name="exam[endDate]" required />
                </label>

                <label for="timetable">
                    Timetable:
                    <input type="file" id="timetable" name="exam[timetable]" accept=".pdf,.doc,.docx" required />
                </label>

                <button type="submit">Add Examination</button>
            </form>
        </div>
        <img src="/images/blob2.png" class="blob2">

