<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h3>Add Examination</h3>
    <br />
    <form
      action="/admin/examinations/<%= id %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        name="exam[examName]"
        placeholder="Enter exam name"
        required
      /><br />
      <input
        type="text"
        name="exam[examType]"
        placeholder="Enter exam type"
        required
      /><br />
      <input
        type="number"
        name="exam[semester]"
        placeholder="Enter semester"
        required
      /><br />
      <input
        type="date"
        name="exam[startDate]"
        placeholder="Enter startDate"
        required
      /><br />
      <input
        type="date"
        name="exam[endDate]"
        placeholder="Enter endDate"
        required
      /><br />
      <input
        type="file"
        name="exam[timetable]"
        placeholder="Upload Timetable"
        required
      /><br />
      <button>Add Examination</button>
    </form>
  </body>

