<%- layout('layouts/admin_boilerplate') %>

<div class="quote-container">
    <div class="quote-text">
        <span class="text-dark">One</span>
        <span class="text-blue">spark</span>
        <span class="text-dark">may</span>
        <span class="text-orange">light</span>
        <span class="text-dark">a</span>
        <span class="text-blue">flame</span>,<br>
        <span class="text-dark">but only together can we</span><br>
        <span class="text-dark">ignite a lasting</span>
        <span class="text-green">fire</span>.
    </div>
    <div class="boxes-container">
        <div class="static-box">
            <img src="/images/banner2.jpeg" alt="Banner 1" id="box1-img">
        </div>
        <div class="static-box">
            <img src="/images/banner1.jpg" alt="Banner 2" id="box2-img">
        </div>
    </div>
</div>

<script>
    // Image arrays for each box
    const box1Images = [
        '/images/banner2.jpeg',
        '/images/banner1.jpg',
        '/images/banner3.jpg'
    ];

    const box2Images = [
        '/images/banner1.jpg',
        '/images/banner3.jpg',
        '/images/banner2.jpeg'
    ];

    let currentIndex = 0;

    function rotateImages() {
        // Get the image elements
        const img1 = document.querySelector('#box1-img');
        const img2 = document.querySelector('#box2-img');

        // Add fade-out class
        img1.classList.add('fade-out');
        img2.classList.add('fade-out');

        // Wait for fade out to complete
        setTimeout(() => {
            // Update images
            img1.src = box1Images[currentIndex];
            img2.src = box2Images[currentIndex];

            // Remove fade-out and add fade-in
            img1.classList.remove('fade-out');
            img2.classList.remove('fade-out');
            img1.classList.add('fade-in');
            img2.classList.add('fade-in');

            // Update index
            currentIndex = (currentIndex + 1) % box1Images.length;

            // Remove fade-in class after animation completes
            setTimeout(() => {
                img1.classList.remove('fade-in');
                img2.classList.remove('fade-in');
            }, 2000);
        }, 2000);
    }

    // Start rotation with 8-second interval
    setInterval(rotateImages, 8000);
</script>
