<%- layout('layouts/admin_boilerplate') %>

<div class="quote-container">
    <div class="quote-text">
        <span class="text-dark">One</span>
        <span class="text-blue">spark</span>
        <span class="text-dark">may</span>
        <span class="text-orange">light</span>
        <span class="text-dark">a</span>
        <span class="text-blue">flame</span>,<br>
        <span class="text-dark">but only together can we</span><br>
        <span class="text-dark">ignite a lasting</span>
        <span class="text-green">fire</span>.
    </div>
    <div class="slider-container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="box-slide">
                        <img src="/images/banner1.jpg" alt="Banner 1">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box-slide">
                        <img src="/images/banner2.jpeg" alt="Banner 2">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box-slide">
                        <img src="/images/banner3.jpg" alt="Banner 3">
                    </div>
                </div>
            </div>
            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'cube',
        grabCursor: true,
        cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
