<% layout('layouts/user_boilerplate') %>

<div class="page1">
    <div class="side-decoration side-decoration-left"></div>
    <div class="side-decoration side-decoration-right"></div>
    
    <div class="floating-shape shape1"></div>
    <div class="floating-shape shape2"></div>
    <div class="floating-shape shape3"></div>
    <div class="floating-shape shape4"></div>
    
    <!-- Add these new elements -->
    <div class="decorative-circle circle1"></div>
    <div class="decorative-circle circle2"></div>
    <div class="decorative-circle circle3"></div>
    <div class="decorative-circle circle4"></div>
    
    <div id="box2">
        <img src="/images/banner1.jpg" alt="" id="ban1">
    </div>
    <div id="box1">
        <img src="/images/banner2.jpeg" alt="" id="ban2">
    </div>
    <div id="box3">
        <img src="/images/banner3.jpg" alt="" id="ban3">
    </div>
</div>

<div class="page2">
    <h3 id="title">Departments</h3>
    <div class="slider">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/images/card-img1.jpeg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Computer Engineering</h2>
                            <p class="description">The Diploma programme in Computer Engineering started from the academic year 2021 with intake of 60...</p>
                            <a href="/user/departments?departmentName=Computer Engineering" class="button card-button">Read More</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/images/Civil.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Civil Engineering</h2>
                            <p class="description">The Diploma programme in Civil Engineering provides comprehensive education in structural design...</p>
                            <a href="/user/departments?departmentName=Civil Engineering" class="button card-button">Read More</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/images/Mec.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Mechanical Engineering</h2>
                            <p class="description">The Mechanical Engineering department offers state-of-the-art facilities and practical training...</p>
                            <a href="/user/departments?departmentName=Mechanical Engineering" class="button card-button">Read More</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/images/AI.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">AI and Networking</h2>
                            <p class="description">The AI and Networking program focuses on cutting-edge artificial intelligence and network technologies...</p>
                            <a href="/user/departments?departmentName=Artificial Intelligence" class="button card-button">Read More</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/images/BIg data.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Big Data</h2>
                            <p class="description">The Big Data program prepares students for handling and analyzing large-scale data systems...</p>
                            <a href="/user/departments?departmentName=Big Data" class="button card-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<div class="page3">
    <h3 id="title">Latest News</h3>
    <div class="news-container">
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                <% if (formattedNotices.length > 0) { %>
                    <% formattedNotices.forEach(notice => { %>
                        <li class="ecard">
                            <h3><%= notice.title %></h3>
                            <span><%= notice.datePosted ? notice.datePosted.toDateString() : 'No Date' %></span>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li class="ecard">No latest news available</li>
                <% } %>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>
</div>
