<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Facilities</h3>

  <form action="/admin/facilities/new" method="GET">
    <button>Add Facility</button>
  </form>
  <ul>
    <% for(let facility of allFacilities){%>
    <li>
      <a href="/admin/facilities/<%= facility._id %>"
        ><%= facility.facilityName %></a
      >
    </li>

    <% } %>
  </ul>
</body>
