<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h3>Add Department</h3>

    <form action="/admin/departments" method="POST">
      <input
        type="text"
        name="department[departmentName]"
        placeholder="Enter name"
        required
      /><br />
      <input
        type="text"
        name="department[hod]"
        placeholder="Enter name of Hod "
        required
      /><br />
      <input
        type="email"
        name="department[contactEmail]"
        placeholder="Enter email of hod "
        required
      /><br />
      <textarea
        type="text"
        name="department[courses]"
        placeholder="Enter courses"
        required
      >
      </textarea
      ><br />
      <button>Add Department</button>
    </form>
  </body>

