<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Events</h3>

  <form action="/admin/faculties/new" method="GET">
    <button>Add Faculty</button>
  </form>
  <ul>
    <% for(let faculty of allFaculties){%>
    <li>
      <a href="/admin/faculties/<%= faculty._id %>"><%= faculty.name %></a>
    </li>

    <% } %>
  </ul>
</body>
