<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h3>Add Rankers</h3>

    <form action="/admin/rankers" method="POST" enctype="multipart/form-data">
      <input
        type="text"
        name="ranker[name]"
        placeholder="Enter name"
        required
      /><br />
      <label for="">Select Year</label>
      <select name="ranker[year]" required>
        <option value="1st Year">1st year</option>
        <option value="2nd Year">2nd year</option>
        <option value="3rd Year">3rd year</option>
      </select><br />

      <select name="ranker[department]" required>
        <option value="Computer Engineering">Computer Engineering</option>
        <option value="Civil Engineering">Civil Engineering</option>
        <option value="Mechanical Engineering">Mechanical Engineering</option>
        <option value="Big Data">Big Data</option>
        <option value="Artificial Intelligence">Artificial Intelligence</option>
      </select>
      <br />
      <input
        type="number"
        name="ranker[percentage]"
        placeholder="Enter percentage"
        required
        step="0.01"  
        min="0"    
        max="100"  
      /><br />
      <input
        type="file"
        name="ranker[photo]"
        placeholder="Upload image"
        required
      /><br />
      <button>Add Ranker</button>
    </form>
  </body>

