<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BVP</title>
  </head>
  <body>
    <h3>Notices</h3>

    <form action="/admin/notices/new" method="GET">
      <button>Add Notice</button>
    </form>
    <ul>
      <% for(let notice of allNotices){%>
      <li>
        <a href="/admin/notices/<%= notice._id %>"><%= notice.title %></a>
      </li>

      <% } %>
    </ul>
  </body>
</html>
