<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Notices</h3>

  <form action="/admin/notices/new" method="GET">
    <button>Add Notice</button>
  </form>
  <ul>
    <% for(let notice of allNotices){%>
    <li>
      <a href="/admin/notices/<%= notice._id %>"><%= notice.title %></a>
    </li>

    <% } %>
  </ul>
</body>
