<% layout("/layouts/admin_boilerplate.ejs") %>
<head>
  <link rel="stylesheet" href="/styles/admin/addnotice.css">
</head> 
        <img src="/images/blob1.png" class="blob1">
        <div class="notice-container">
            <h3>Create Notice</h3>
            <form action="/admin/notices" method="POST">
                <label for="title">
                    Title:
                    <input type="text" id="title" name="notice[title]" placeholder="Enter title" required />
                </label>

                <label for="description">
                    Description:
                    <textarea id="description" name="notice[description]" placeholder="Enter description" required></textarea>
                </label>

                <label for="postedBy">
                    Author:
                    <input type="text" id="postedBy" name="notice[postedBy]" placeholder="Enter author" required />
                </label>

                <label for="category">
                    Category:
                    <input type="text" id="category" name="notice[category]" placeholder="Enter category" required />
                </label>

                <button type="submit">Add Notice</button>
            </form>
        </div>
        <img src="/images/blob2.png" class="blob2">
